torch==1.13.0+cu117
transformers==4.24.0
huggingface_hub==0.11.1
numpy==1.26
ipykernel>=6.0
conllu
ipywidgets
jinja2
marimo
matplotlib
pandas==1.5.2
rich
scikit-learn
tqdm
transformers
wandb
pytz
requests
urllib3
-e .